<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>_notes</string>
		<string>caroussel</string>
		<string>jquery.bxslider</string>
		<string>picker</string>
		<string>popup</string>
		<string>superslides-0.6.2</string>
		<string>vegas</string>
		<string>vendor</string>
		<string>video</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>jquery.carouFredSel-6.2.1-packed.js</string>
		</array>
		<array>
			<string>jquery.carouFredSel-6.2.1.js</string>
		</array>
		<array>
			<string>jquery.form.js</string>
		</array>
		<array>
			<string>jquery.hoverdir.js</string>
		</array>
		<array>
			<string>jquery.inview.js</string>
		</array>
		<array>
			<string>jquery.isotope.min.js</string>
		</array>
		<array>
			<string>jquery.nav.js</string>
		</array>
		<array>
			<string>jquery.smoothwheel.js</string>
		</array>
		<array>
			<string>jquery.sticky.js</string>
		</array>
		<array>
			<string>jquery.validate.js</string>
		</array>
		<array>
			<string>main.js</string>
		</array>
		<array>
			<string>plugins.js</string>
		</array>
		<array>
			<string>portfolio.js</string>
		</array>
		<array>
			<string>test.js</string>
		</array>
	</array>
</dict>
</plist>
